<section class="absolute top-[264px] -left-[137px] blur-3xl">
    <div class="relative w-[1114.58px] h-[819px]">
        <div class="absolute bg-[#F04E9C29] w-[902.48px] h-[181.13px] rotate-[31.07deg] top-[65.93px] -left-[43.51px]"></div>
        <div class="absolute bg-[#1EC0E329] w-[565.68px] h-[153.12px] rotate-[31.07deg] -top-[264px] left-[493.06px]"></div>
        <div class="absolute bg-[#7B72E233] w-[314.6px] h-[203.38px] rotate-[72.66deg] -top-[225.42px] left-[362.87px]"></div>
        <div class="absolute bg-[#1EC0E329] w-[676.76px] h-[159.21px] rotate-[31.07deg] top-[31.09px] left-[285.64px]"></div>
    </div>
</section>