<section class="desktop:pt-12 tablet:pt-10 pt-6 desktop:px-[164px] tablet:px-[180px] px-6 relative z-10 overflow-x-auto">
    <div class="flex gap-2 items-center mb-5 cursor-pointer" routerLink="/">
        <img src="assets/icon/arrow-right.png" class="rotate-180 w-5 h-5"/>
        <h2 class="font-medium text-lg text-gray-900">Back</h2>
    </div>
    <h1 class="font-semibold text-2xl text-gray-900 mb-3">Payment Lists ({{paymentLists.length}})</h1>
    <ng-container *ngIf="paymentLists.length > 0; else elseTemplate">
        <table class="w-full bg-base-50">
            <thead class="border-gray-200 border">
                <tr>
                    <td class="font-semibold text-lg px-3 py-2 whitespace-nowrap">Card Holder Name</td>
                    <td class="font-semibold text-lg px-3 py-2 whitespace-nowrap">Payment Method</td>
                    <td class="font-semibold text-lg px-3 py-2 whitespace-nowrap">Billing Address</td>
                    <td class="font-semibold text-lg px-3 py-2 whitespace-nowrap">Zip Code</td>
                    <td class="font-semibold text-lg px-3 py-2 whitespace-nowrap">City</td>
                </tr>
            </thead>
            <tbody class="border-gray-200 border">
                <tr *ngFor="let payment of paymentLists">
                    <td class="px-3 py-2">{{payment.name}}</td>
                    <td class="px-3 py-2">{{payment.method}}</td>
                    <td class="px-3 py-2">{{payment.address}}</td>
                    <td class="px-3 py-2">{{payment.zip}}</td>
                    <td class="px-3 py-2">{{payment.city}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-template #elseTemplate>
        <h1 class="mt-8 text-center text-lg text-gray-500 font-medium">No payment list yet. Please create a payment list.</h1>
    </ng-template>
</section>